{% extends 'records/base.html' %}

{% block title %}Attendance | AttenEase{% endblock %}

{% block content %}

<section class="page-section">
    <h1>Attendance</h1>

    <p>
        Record and manage student attendance easily.
    </p>

    <div class="attendance-box">
        <h2>Attendance Monitoring</h2>

        <p>
            This page will be used to record student attendance.
        </p>

        <button class="button">
            Record Attendance
        </button>
    </div>
</section>

{% endblock %}