{% load static %}

<! DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        contains="width=device-width,initial-scale=1.0">

        <title>{% block title %}
            AttenEase{% endblock %}
        </title>
 </head>

        <body>
            {% include 'records/includes/navbar.html' %}
            <main>
                {% block content %}
                {% endblock %}
            </main>

            {% include 'records/includes/footer.html' %}

        </body>
   
</html>